@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem Vindo a minha calculadora</h1>

<p>
    Esta é uma aplicação de calculadora simples construída com Blazor. Você pode realizar operações aritméticas básicas como adição, subtração, multiplicação e divisão.
</p>

<p>
    Para começar, clique no link "Calculadora" no menu de navegação para acessar a calculadora interativa.
</p>



